.popup__close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 21px;
    right: 21px;
    background-image: url('../../../images/Close.png');
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}