@import url('./__copyright/footer__copyright.css');

.footer {
    max-width: 728px;
    text-align: center;
    padding-bottom: 22px;
    margin: auto;
    margin-top: 270px;
}

footer::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #cccccc;
    margin: auto;
    margin-bottom: 22px;
}

@media screen and (max-width: 765px) {

    footer::before {
        width: 85%;
    }
}

@media screen and (max-width: 478px) {

    .footer {
        margin-top: 118px;
    }
}