.popup__form {
    width: 331px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 340px) {

    .popup__form {
        margin-left: 46px;
    }
}