.form__input {
    width: 318px;
    height: 30px;
    font-size: 13px;
    line-height: 15px;
    padding-left: 11px;
    font-family: Roboto;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

@media screen and (max-width: 340px) {

    .form__input {
        width: 265px;
    }
}